{% extends "ufilm/base.html" %}{% load staticfiles %}
{% block content %}
<div class="container">
    <h1>about unknownfilm.net</h1>
    <p>Unknownfilm.net came about as an alternative to the iMDB top 250. 
    The iMDB top 250 contains some of the worlds best films but there are only 250 films in it. 
    What if you just like thrillers? What if you're not into old films? 
    What if you've seen absolutely everything and are looking for the most obscure titles?</p>
    <p>On unknownfilm.net you just change a few sliders and select which genres, 
    languages and countries to include and scroll down to browse the films that match your criteria.</p>
    <h3>about the maker</h3>
    <p><a href="http://www.rolfvandam.nl">Rolf van Dam</a> is a freelance (Django) webdeveloper from Heemstede, The Netherlands (Amsterdam area).</p>

    <h3>want more?</h3>
    <p>Check out these excellent movie sites:</p>
    <div class="link-table">
        <table id="link-table">
            <tr>
                <td><a href="http://the-movie-times.com">The Movie Times</a></td>
                <td>Lots of movie and actor related fun.</td> 
            </tr>
            <tr>
                <td><a href="http://cinemaassassin.com/">Cinema Assassin</a></td>
                <td>The final word on film.</td>
            </tr>
            <tr>
                <td><a href="http://manicmoviegoer.com/">The Manic Moviegoer</a></td>
                <td>Film reviews without the hoopla</td>
            </tr>
            <tr>
                <td><a href="http://icheckmovies.com/">I Check Movies</a></td>
                <td>Huge collection of best films lists and community.</td>
            </tr>
            <tr>
                <td><a href="http://moviedearest.blogspot.com/">Movie Dearest</a></td>
                <td>Cinematic views and reviews for gay and gay-friendly movie fans.</td>
            </tr>
            <tr>
                <td><a href="http://letsgotothemovies7.com/">Let's Go To The Movies</a></td>
                <td>Let's do it!</td>
            </tr>
            
        </table>
    </div>
</div>
{% endblock %}